.container.support
    #blue-bar.mainbg
    #gray-bar
    h1#banner-title
      em Contact Us
    .row.contact-cols
      .col-md-4
        .thumbnail.contact-col
          .text-center
            i.fa.fa-info-circle.fa-5x.fa-blue
          .caption
            h3.text-center.caption-title Get in Touch!
            h5.blue-text B-responsive support!
            p
              | we will be happy to help you in every queistions that you have .
            br 
            | we are working on chat sistem that you can ask queistions online.
            br
            | we are working on queistions sistem that you can ask queistions online
      .col-md-4
        .thumbnail.contact-col
          .text-center
            i.fa.fa-map-marker.fa-5x.fa-blue
          .caption
            h3.text-center.caption-title Details
            p.text-center.addy
              strong B-RESPONSIVE 
            p.text-center.addy
              strong netanel lorech 1 
            p.text-center.addy
              strong Jerusalem
            ul.list-group.details-list
              li.list-group-item.text-center
                h4.list-group-item-heading.heading-blue Corporate Office
                p.list-group-item-text
            .text-center.map-btn
              a.btn.btn-default(target='_blank', href='#')
                | Map It!
      .col-md-4.contact-col
        .thumbnail
          .text-center
            i.fa.fa-envelope.fa-5x.fa-blue
          .caption
            h3.text-center.caption-title Send us a Message
            form.suppurtForm(action='', method='')
              .row
                .col-sm-12
                  .form-group
                    label(for='contactName') Name
                    input#contactName.form-control.supportName(type='text', name='name', value='')
                .col-sm-12
                  .form-group
                    label(for='email') Email
                    input#email.form-control.supportEmai(type='email', name='email', value='')
              .row
                .col-sm-12
                  .form-group
                    label(for='commentsText') Message
                    textarea#message.form-control.supportMessage(style='resize:none', name='message', rows='5')
              button.btn.btn-default.supportSend(type='submit') Submit


