.container
      .row
        .col-xs-12.col-sm-3.col-md-3.col-lg-3
          .db-wrapper
            .db-pricing-seven
              ul
                li.price
                  i.glyphicon.glyphicon-qrcode
                  |                               CAFÉ - NOK 899,-
                  br
                  h4
                    small
                      em.text-muted pr. måned
                li
                  | Rask betjening med
                li Varebeholdning
                li Analyse på nett og mobil
                li
                  .label.label-default 2
                  |  integrasjoner
              .pricing-footer
                em.text-muted Eks. Maskinvare, opplæring og installasjon 
                br
                a.btn.btn-success-tem(href='#') Beregn pris med maskinvare
        .col-xs-12.col-sm-3.col-md-3.col-lg-3
          .db-wrapper
            .db-pricing-seven
              ul
                li.price
                  i.glyphicon.glyphicon-indent-right
                  |                                 CASUAL - NOK 1449,-
                  br
                  h4
                    small
                      em.text-muted pr. måned
                li Ordrehåndtering
                li Varetelling med strekkode
                li Analyse på nett og mobil
                li
                  .label.label-default 2
                  |  integrasjoner
              .pricing-footer
                em.text-muted Eks. Maskinvare, opplæring og installasjon 
                br
                a.btn.btn-success-tem(href='#') Beregn pris med maskinvare
        .col-xs-12.col-sm-3.col-md-3.col-lg-3
          .db-wrapper
            .db-pricing-seven
              ul
                li.price
                  i.glyphicon.glyphicon-list-alt
                  |                                 SUITED - NOK 1749,-
                  br
                  h4
                    small
                      em.text-muted pr. måned
                li Ordrehåndtering
                li Rask varetelling med RFID
                li Analyse på nett og mobil
                li
                  .label.label-default 3
                  |  integrasjoner
              .pricing-footer
                em.text-muted Eks. Maskinvare, opplæring og installasjon 
                br
                a.btn.btn-success-tem(href='#') Beregn pris med maskinvare
        .col-xs-12.col-sm-3.col-md-3.col-lg-3
          .db-wrapper
            .db-pricing-seven
              ul
                li.price
                  i.glyphicon.glyphicon-align-justify
                  |                                 TUXEDO - NOK 2279,-
                  br
                  h4
                    small
                      em.text-muted pr. måned
                li Ordrehåndtering
                li Rask varetelling med RFID
                li Analyse på nett og mobil
                li
                  .label.label-default 7
                  |  integrasjoner
              .pricing-footer
                em.text-muted Eks. Maskinvare, opplæring og installasjon 
                br
                a.btn.btn-success-tem(href='#') Beregn pris med maskinvare