extends layout

block content

    .col-md-12.col-sm-12.col-xs-12.examplePage
      .panel.panel-default
        .panel-heading.clearfix
          i.icon-calendar
          h3.panel-title Insert Your Site Here
        .panel-body
          .row
            .col-lg-12.col-sm-12.col-sx-12
              .input-group
                span.input-group-btn
                  button.btn.btn-default.go(type='button', title='') Go!
                input.form-control(type='text')


    .embed-responsive.frameLayout
    iframe.embed-responsive-item.col-md-12.col-sm-12.col-xs-12.site-frame(src='http://dev.boot.org/example/' , frameborder="0")

            



