extends layout

block content
  .container.register.mainWrapper
     h1 Join Landing Chat
     p The best way to design, build, and ship landing pages.
     ul.errors
        if errors
          each error , i in errors
            li.alert.alert-danger #{error.msg}
     form(method='post' , action='/users/register')
          .form-group
            label User Name
            input.form-control(type='text' , name='name' , placeholder='Enter Your name')
          .form-group
            label Email
            input.form-control(type='email' , name='username' , placeholder='Enter email')
          .form-group
            label Password
            input.form-control(name='password' , type='password'  ,placeholder='Enter password...')
          .form-group
            label Confirm Password
            input.form-control(name='password2' , type='password'  ,placeholder='Enter password...')
          button.btn.btn-success(type='submit', value='Register') Create an account